<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Perfil</title>
  <link rel="stylesheet" href="../resources/css/mainStyle.css" />
  <link rel="stylesheet" href="../resources/css/profile.css" />
  <link rel="stylesheet" href="../resources/css/historial.css">
  <link rel="stylesheet" href="../resources/css/medios-pago.css" />
  <link rel="stylesheet" href="../resources/css/sistema-notificaciones.css">
  <link rel="stylesheet" href="../resources/css/seguridad.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="btn-menu">
        <label for="btn-menu">Menu</label>
      </div>
      <nav class="menu">
        <a href="/">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
      </nav>
    </div>
  </header>

  <input type="checkbox" id="btn-menu" />
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <li><button onclick="showSection('datos')">Mis Datos</button></li>
        <li><button onclick="showSection('historial-container')">Historial de pedidos</button></li>
        <li><button onclick="showSection('mediosPago')">Métodos de pago</button></li>
        <li><button onclick="showSection('notificaciones')">Notificaciones</button></li>
        <li><button onclick="showSection('seguridad')">Seguridad</button></li>
        <li><button onclick="showSection()">Cerrar sesión</button></li>
      </nav>
      <label for="btn-menu">✖️</label>
    </div>
  </div>
  <!-- Main -->
  <main>
    <div class="container">
      <!-- Contenedor principal -->
      <div class="main-content">
        <!-- Sección 1, datos de perfil de usuario -->
        <section id="datos" class="section active">
          <h2>Mis Datos</h2>
          <p>Información de perfil, nombre, dirección, etc.</p>
          <div>
            <h3>Nombre: <%= user.username %></h3>
            <p><strong>Correo electrónico:</strong> <%= user.email %></p>
    
            <h4>Dirección:</h4>
            <p><strong>Calle:</strong> <%= user.address.street %></p>
            <p><strong>Ciudad:</strong> <%= user.address.city %></p>
            <p><strong>Provincia:</strong> <%= user.address.province %></p>
            <p><strong>Código Postal:</strong> <%= user.address.postalCode %></p>
    
            <p><strong>Teléfono:</strong> <%= user.phoneNumber %></p>
        </div>
        </section>
        <!-- Sección 2, Historial de Pedidos -->
    <section id="historial-container" class="section">
        <!-- El historial de compras se cargará aquí -->
      </section>
        <!-- Sección 3, medios de pago -->
        <section id="mediosPago" class="section">
          

          <div id="payment-section">
            <h3>Métodos de Pago</h3>
            <a>En este apartado puede guardar las tarjetas que quiere usar para comprar en nuestra pagina.</a>
            <div id="payment-methods">

            </div>

            <buttom id="add-payment-method">Añadir Método de Pago</buttom>

            <div id="payment-form" style="display:none;">
              <h4>Añadir/Editar Método de Pago</h4>
              <label>Número de Tarjeta:</label><br>
              <input type="text" id="card-number" placeholder="1234 5678 9012 3456"><br>

              <label for="card-expiry">Fecha de Expiracion</label><br>
              <input type="text" id="card-expery" place holder="MM/YY"><br>

              <label for="card-cvv">CW:</label><br>
              <input type="yext" id="card-cvv" placeholder="123"><br>

              <buttom id="save-payment-method">Guardar</buttom>
              <buttom id="cancel-payment">Cancelar</buttom>

            </div>
          </div>
        </section>
        <!-- Sección 4, notificaciones -->
        <section id="notificaciones" class="section">
          <h2>Configuración</h2>
          <p>Preferencias, privacidad, etc.</p>

          <div id="Notification-system">
            <h2>Sistema de Notificaciones</h2>
            <p>Buenas, esperemos su estadía en Drink_in_The_House este siendo increíble y a su gusto.</p>
            <p>Aca abajo encontrará la lista de notificaciones de los servicios que el sistema le envía cada vez que
              interactúa con la página.</p>
            <p>Sientese con libertad en elegir cual notificación quiera recibir y cual no.</p>
            <ul>
              <li>
                <div class="notification-item">
                  <span>Confirmación de Pedido entregado</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Confirmación de pedido cancelado</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Confirmación de pedido en camino</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Seguimiento del envío en tiempo real</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Confirmación de envío cercano</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Confirmación de pedido realizado</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
              <li>
                <div class="notification-item">
                  <span>Notificación de ofertas</span>
                  <div class="button-group">
                    <button class="activar">Activar</button>
                    <button class="desactivar">Desactivar</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <!-- Sección 5, Seguridad -> reseteo de contraseña -->
        <section id="seguridad" class="section">
          <h2>Configuración</h2>
          <p>Preferencias, privacidad, etc.</p>
        
          <form id="changePasswordForm">
            <h2 class="Registro">Cambiar contraseña</h2>
            <input type="password" placeholder="Contraseña Actual" id="currentPassword" name="currentPassword" required>
            <input type="password" placeholder="Nueva Contraseña" id="newPassword" name="newPassword" required>
            <input type="password" placeholder="Repite la Nueva Contraseña" id="confirmPassword" name="confirmPassword" required>
            <button type="submit">Enviar</button>
          </form>
        
          <!-- Modal -->
          <div id="successModal" class="modal" style="display: none;">
            <div class="modal-content">
              <h1>¡Cambio de Contraseña Exitoso!</h1>
              <p>Tu contraseña se cambió con éxito. Ahora puedes iniciar sesión con tus nuevas credenciales.</p>
              <button onclick="closeModal()">Cerrar</button>
            </div>
          </div>
        
          <div id="errorBox" class="error" style="display: none;"></div>
        </section>
      </div>
    </div>

    <div class="capa"></div>
  </main>

  <!-- Footer -->
  <footer class="main-footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Navegación</h4>
        <ul>
          <li>Inicio</li>
          <li>Catálogo</li>
          <li>Ofertas</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Medios de Pago</h4>
        <ul>
          <li>Visa</li>
          <li>Mastercard</li>
          <li>Paypal</li>
          <li>Transferencia</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Medios de Envío</h4>
        <ul>
          <li>DHL</li>
          <li>UPS</li>
          <li>FedEx</li>
          <li>Envíos locales</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Info de Sucursales</h4>
        <ul>
          <li>Buenos Aires</li>
          <li>Montevideo</li>
          <li>Asunción</li>
          <li>Santiago</li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; 2024 Drink-in-The-House. Todos los derechos reservados.
    </div>
  </footer>
  <!-- Scripts -->
  <script src="../resources/js/profilemodal.js"></script> 
  <script src="../resources/js/profile.js"></script>
  <script src="../resources/js/historial.js"></script>
  <script src="../resources/js/medios-pago.js"></script>
  
  
  
</body>

</html>